
ul{
    list-style-type: none;
    background-color: rgba(86, 21, 116, 0.096);
    overflow: hidden;
    
    
    }
    li a{
    color: rgb(4, 78, 238);
    text-decoration: none;
    display: block;
    padding: 10px;
    
    }
    li a:hover{
      background-color: red;
    }
    li{
      float: left;
    }
    
    